.app .summary {
  width: 100vw;
  margin-top: 18vh;
  height: 82vh;
  overflow: scroll;
  padding-bottom: 6rem;
  &.header-hide {
    margin-top: 0;
    height: 100vh;
  }

  .row {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 300ms linear;
    &.hide {
      transform: translateX(-100vw);
      opacity: 0;
    }
  }
}
