.payment-method {
  width: 100%;
  p {
    color: color("textBlackTitle");
    text-transform: capitalize;
    font-weight: 700;
  }
  .block {
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }
  .payment-method-chart{
    min-height: 0;
  }
}
