.process-bar {
  display: flex;
  height: 2rem;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  .selector {
    position: absolute;
    width: 0.8rem;
    top: 0.3rem;
    right: 1rem;
    img {
      width: 100%;
    }
  }
}
