.row {
  .block {
    &.date-picker-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      box-shadow: none;
      position: relative;
      background-color: transparent;
      min-height: fit-content;
      input {
        height: 2rem;
        width: 2rem;

        position: absolute;
        z-index: 0;
        background-color: transparent;
        border: none;
        right: 0;
        top: 0.5rem;

        &::-webkit-calendar-picker-indicator {
          color: rgba(0, 0, 0, 0);
          opacity: 1;
          display: block;
          position: absolute;
          right: 0;
          top: 0.3rem;
          background: url(/calendar.svg) no-repeat;
          background-size: contain;
          height: 1rem;
          width: 1rem;
          border-width: thin;
        }

        &::-webkit-datetime-edit,
        &::-webkit-inner-spin-button,
        &::-webkit-clear-button {
          display: none;
        }
      }
      button.date-tag {
        width: max-content;
        height: 1.5rem;
        background-color: transparent;
        color: color("textInActiveNav");
        border: 1px solid color("borderInActiveNav");
        border-radius: 5px;
        outline: none;
        transition: all 400ms linear;
        &.decrease {
          margin-right: 1rem;
        }
        &.increase {
          margin-left: 1rem;
        }
        &:active {
          box-shadow: none;
          background-color: color("main");
          color: #fff;
        }
      }
      .display-date {
        color: color("textActiveNav");
        border-radius: 5px;
        border: 1px solid color("borderActiveNav");
        padding: 0.3rem 0.5rem;
        .month {
          font-weight: 300;
          margin-right: 0.3rem;
        }
        .day {
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
    }
  }
}
