.group-summary-page {
    width: 100vw;
    margin-top: 18vh;
    // height: 82vh;
    // padding-bottom:10rem;
    overflow: scroll;
    // scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &.header-hide {
      margin-top: 10vh;
      height: 89vh;
      padding-top: 12vh;
    }
}

.group-page-table{
  margin-top: 1rem;
  // overflow-x:auto;
  // overflow:scroll;
  display:block;
  overflow-x:auto; 
  // overflow-y: scroll;
  // -webkit-overflow-scrolling:touch;
  // overflow: visible;
  padding-bottom: 250px; 
  margin-bottom: -250px;
table{
  width: max-content;
  border-spacing: 0;
  min-width: 100%;
  font-family: SourceHanSansCN;
  font-weight: 300;
  thead {
    display:block;
    tr {
      box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.05);
      background-color: #f6f5f9;
      cursor: pointer;
      th {
        font-size:0.875rem;
        color: #4a4a4a;
        padding: 1rem 0.5rem;
        letter-spacing: 1px;
        text-align: center;
        span{
          display: block;
          font-size: 0.8rem;
          letter-spacing: 0.87px;
          line-height: 1rem;
          &.underline{
            height:1.2rem;
            border-bottom: 2px solid white;
            line-height: 1rem;
          }
        }
      }
    }
  }
  tbody {
    display: block;
    overflow:auto;
    height: 14rem;
    tr {
      cursor: pointer;
      background-color: #fff;
      box-shadow: 0 2px 3px 0 #dddddd;
      &.striped {
        background-color: #fff;
      }

      td {
        // padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        text-align: center;
        font-size: 0.6rem;
        color: #4a4a4a;
        height: 3.2rem;
        // padding-left:1rem;
        // width:5rem;
        word-break: break-word;
        font-family: SourceHanSansCN;
        font-weight: 200;
        letter-spacing: 0.7px;
        .shop-name{
          display: block;
          padding-left: 1rem;
          align-items: flex-start;
          justify-content: center;
          writing-mode: vertical-rl;
          font-size: 0.9rem;
          font-weight: 300;
          color:white;
          word-wrap: break-word;
          transform: rotate(180deg);
          height:3rem;
          letter-spacing: 1px;
          white-space: normal;
        }
        span{
          display: block;
          word-break: break-all;
          &.barcode{
            font-weight: bold;
          }
        }
      }
    }
  }
}
}