.component-custom-report {
  background-color: #e1e1e1;
  margin-top: 6rem;
  padding-bottom: 6rem;
  .flat-block {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem;
    .title {
      font-size: 0.8rem;
      color: color("border");
      text-transform: uppercase;
    }
    .container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 2.5rem;
      input[type="date"] {
        margin-right: 0.3rem;
      }
    }
  }
}
