.component-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .header {
    height: 3rem;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    justify-content: flex-start;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }
}
