.app .component-weekly-report {
  width: 100vw;
  height: calc(100vh - 6rem);
  overflow: scroll;
  .row {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
