.tabs-group {
  width: 10%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  span {
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    width: 100%;
    height: 3.2rem;
    font-size: 0.8rem;
    color: #fff;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    white-space: pre;

    img {
      transform: rotate(-180deg);
    }
  }
}
