.app .header {
  height: 34vh;
  width: 100vw;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: -1;
  background-color: color("main");
  // box-shadow: 0 3px 3px color("boxShadow");
  // transform: rotate(-25deg);
  // box-shadow: 0 4.5px 16px 0 rgba(30, 135, 240, 0.2);
  background: url(http://kidsnparty.com.au/report/header-background.svg);
  background-size: cover;
  margin-bottom: 5px;
  transition: all 300ms linear;
  position: fixed;
  left: 0;
  top: 0;
  &.hide {
    height: 8vh;
    box-shadow: none;
    flex-direction: row;
    .shop-selector,
    .header-title {
      display: none;
    }
    .navigation {
      width: max-content;
      border: none;
      span {
        font-size: 0.8rem;
        padding: 0.2rem 0.4rem;
        &.active {
          border-bottom: 1px solid color("borderActiveNav");
        }
      }
    }
  }
  .header-title {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;

      img {
        height: 80%;
      }
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      width: 100%;
      color: color("textActiveNav");
      letter-spacing: 1px;
      font-family: SourceHanSansCN;
      font-weight: bold;
      span {
        &.year {
          margin-right: 0.2rem;
          font-weight: 300;
        }
        &.text {
          font-weight: 500;
        }
      }
    }
  }
  .setting-icon {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid color("borderInActiveNav");
    span {
      font-weight: 100;
      height: 100%;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: color("textInActiveNav");
      padding: 0.5rem 0.8rem;
      text-transform: capitalize;
      margin-bottom: -3px;
      &.active {
        border-bottom: 3px solid color("borderActiveNav");
        color: color("textActiveNav");
        font-weight: 300;
      }
    }
  }
}
