$colors: (
  textSubtitle: #7162dfd3,
  textPrimary: #7162df,
  textBlackTitle: #54516d,
  textNumberTotal: #5d4ae8,
  textButton: #fff,
  textActiveNav: #fff,
  textInActiveNav: #d0c9ff,
  textTableHeader: #8d8aa7,
  borderActiveNav: #fff,
  borderInActiveNav: #b3aaf6,
  borderTable: #dedede,
  borderLight: #a5a5a560,
  bodyBackground: #fff,
  tableRowBackground: #f6f5f9,
  border: #a5a5a5,
  cover: #c7c7c7a5,
  coverWhite: rgba(255, 255, 255, 0.7),
  main: #6d81e6,
  boxShadow: rgba(182, 182, 182, 0.5),
  secondary: #f55747,
  tableRow: #f0eff5,
  myBlue: #0077cc,
  myRed: #db2727,
  selectorBackground: #513ed5,
  myGreen: #21d599
);

@function color($color_name) {
  @return map-get($colors, $color_name);
}

$height: (
  button: 35px
);

@function height($height_name) {
  @return map-get($height, $height_name);
}

$width: (
  button: 150px
);

@function width($width_name) {
  @return map-get($width, $width_name);
}

$animations: (
  normal: all 400ms ease
);

@function animation($animation_name) {
  @return map-get($animations, $animation_name);
}

$mobile: 450px;
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
