* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "pingfang", Arial, Helvetica, sans-serif !important;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

/* hide ugly scrollbar */
::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

.app .header {
  height: 6rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffba2d;
  box-shadow: 0 3px 3px #a5a5a5;
  margin-bottom: 5px;
  transition: all 300ms linear;
  position: fixed;
  left: 0;
  top: 0;
}
.app .header.hide {
  transform: translateY(-6rem);
  box-shadow: none;
}
.app .header button {
  background-color: transparent;
  border: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.app .header button i {
  font-size: 3rem;
}

table {
  width: 100%;
  max-height: 100%;
  overflow: scroll;
  border-spacing: 0;
  margin-top: 0.5rem;
}
table thead tr th span {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #ffba2d;
}
table thead tr th.number {
  padding-left: 0.2rem;
}
table thead tr th.number span {
  justify-content: flex-end;
}
table thead tr th.text {
  padding-right: 0.2rem;
}
table tbody tr.colored {
  background-color: rgba(247, 219, 161, 0.52);
}
table tbody tr.total {
  font-weight: bold;
}
table tbody tr.total td span {
  width: 60%;
  display: inline-block;
  border-top: 2px solid #ffba2d;
}
table tbody tr td.number {
  text-align: right;
  padding-left: 0.2rem;
}
table tbody tr td.text {
  text-align: left;
  padding-right: 0.2rem;
}

.row .block {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 3px #a5a5a5;
  margin-top: 0.5rem;
}
.row .block.large {
  width: 100%;
  margin: 0.5rem auto;
}
.row .block .title {
  text-transform: uppercase;
  color: #8c8c8c;
  font-size: 0.7rem;
  font-weight: bold;
}
.row .block .value {
  font-size: 2.5rem;
  color: #000;
  text-align: center;
}

.app .summary {
  width: 100vw;
  margin-top: 6rem;
  height: calc(100vh - 6rem);
  overflow: scroll;
  padding-bottom: 6rem;
}
.app .summary.header-hide {
  margin-top: 0;
  height: 100vh;
}
.app .summary .row {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 300ms linear;
}
.app .summary .row.hide {
  transform: translateX(-100vw);
  opacity: 0;
}

.row .block.date-picker-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.row .block.date-picker-container button {
  width: max-content;
  height: 2rem;
  background-color: #fff;
  color: #ffba2d;
  margin-bottom: 0.5rem;
  border: 1px solid #ffba2d;
  outline: none;
  border-radius: 1rem;
  box-shadow: 0 0 3px #a5a5a5;
  transition: all 400ms linear;
}
.row .block.date-picker-container button:active {
  box-shadow: none;
  background-color: #ffba2d;
  color: #fff;
}

.app .component-weekly-report {
  width: 100vw;
  height: calc(100vh - 6rem);
  overflow: scroll;
}
.app .component-weekly-report .row {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-custom-report {
  background-color: #e1e1e1;
}
.component-custom-report .flat-block {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
}
.component-custom-report .flat-block .title {
  font-size: 0.8rem;
  color: #a5a5a5;
  text-transform: uppercase;
}
.component-custom-report .flat-block .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.5rem;
}
.component-custom-report .flat-block .container input[type=date] {
  margin-right: 0.3rem;
}

.flat-block.date-picker-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flat-block.date-picker-container button {
  margin-right: 0.5rem;
  height: 2rem;
  width: max-content;
  border-radius: 3px;
  border: 2px solid #ffba2d;
  background-color: #fff;
  color: #ffba2d;
  outline: none;
  box-shadow: 0 0 3px #a5a5a5;
  transition: all 400 linear;
}
.flat-block.date-picker-container button:active {
  box-shadow: none;
  background-color: #ffba2d;
  color: #fff;
}

.flat-block select {
  margin-top: 0.2rem;
  height: 2rem;
  border-radius: 3px;
}

/*# sourceMappingURL=App.css.map */
