@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900");

// @font-face {
// font-family: 'Avenir';

// src:local('Avenir LT Std 65 Medium') url('./fonts/AvenirLTStd-Medium.woff') format('woff');
// }
@import "./shared/sass/index.scss";

@font-face {
    font-family: SourceHanSansCN;
    src: url("../app/fonts/SourceHanSansCN-Bold.otf");
    font-weight: bold;
  }

@font-face {
    font-family: SourceHanSansCN;
    src: url("../app/fonts/SourceHanSansCN-Light.otf");
    font-weight: 100;
}

@font-face {
    font-family: SourceHanSansCN;
    src: url("../app/fonts/SourceHanSansCN-Regular.otf");
    font-weight:200;
}

@font-face {
    font-family: SourceHanSansCN;
    src: url("../app/fonts/SourceHanSansCN-Medium.otf");
    font-weight: 300;
  }
  

* {
  font-family: "SourceHanSansCN", sans-serif;
}

button{
    &.button-download{
        height: 3rem;
        background: radial-gradient(#fff, #735EDF);
        border:none;
        border-radius: 3px;
        box-shadow: 0 0 6px #577BE2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        color:color('myBlue');
        text-transform: uppercase;
        .material-icons{
            margin-right: 0.5rem;
            text-shadow: 0 0 3px #fff;
            color:color('myBlue');
        }
    }
}

@import "./summary/sass/index.scss";
@import "./weekly/sass/index.scss";
@import "./customize/sass/index.scss";
@import "./auth/sass/index.scss";
@import "./customize/sass/index.scss";
@import "./all/sass/index.scss";
@import "./totalSummary/sass/index.scss";
@import "./exportReport/sass/index.scss";
